/*body {
  background-image: url("https://cdn.britannica.com/77/141177-050-EEAC6FF9/Jet-engine.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;   
  background-attachment: fixed;  
}*/

.navbar {
    background-color: rgba(20, 50, 20, 0.5);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px;
    margin-bottom: 20px;
    margin-top: -08px;
    margin-left: -8px;
    width:100vw;
  }
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 0;
  }
  .navbar li {
    margin: 0 1.5rem;
    cursor: pointer;
  }
  .navbar a {
    padding: 16px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 4rem;
    transition: color 0.3s;
  }
  .navbar a:hover {
    color: #007bff;
  }


.warning-popUp{
    width:100%;
    height: 100%;
    position: fixed;
    top:0px;
    display: none;
    justify-items: center;
    align-items: center;
}
.warning-content{
    background-color: white;
    border: solid;
    min-height: 35vh;
    min-width: 70vw;
    max-width: 80vw;
    display: grid;
    justify-items: center;
    margin-top: -100px;
    font-size:30px;
}

.warning-matter{
    font-size: 5rem;
}

.warning-content button{
    height:5vh;
    width:8vh;
    color:white;
    font-size: 3.5rem;
    font-weight: 800;
}

.warning-yes-button{
    background-color: darkred;
}
.warning-no-button{
    background-color: #253D2C;
}

.wait-popUp{
  height:100%;
  width:100%;
  position:fixed;
  top:0px;
  display: grid;
    justify-items: center;
    align-items: center;
}

.spinner {
      margin-top: -600px;
      width: 150px;
      height: 150px;
      border: 10px solid white; /* Light border for the unfilled portion */
      border-top: 6px solid #3498db; /* Color for the rotating segment */
      border-radius: 50%;
      animation: spin 1s linear infinite;
}

@keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }