.nav-edit-a {
  background-color: white;
}


.update-tag{
  border: solid white;
  background: linear-gradient(to left, blue,red);  
  padding:8px;        
  text-align: center;
  font-size: 1rem;
  color : white;    
}

.edit-selection-div{
  border:solid;
  border-weight: 800;
  margin-left: 20px;
  margin-right: 20px;
  padding:15px 10px;
  margin-bottom: 10px;
}

.edit-selection-div select, label{
  font-size: 1rem;
  width: 130px;
  height: 30px;
}

.edit-selection-div label {
  font-weight: 800;
}

.initial-edit-button {
    display: inline-block;
  margin-top:16px;
    padding: 0.6rem 1.8em;
    font-size: 1rem;
    font-weight: 800;
    color: #fff;
    background: linear-gradient(135deg, #4f46e5, #3b82f6);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  }
  
  button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  }
  
  button:active {
    transform: scale(0.97);
  }
  
  button:focus {
    outline: 2px solid #93c5fd;
    outline-offset: 2px;
  }
hr{
  margin-bottom: -10px;
}

.component-button{
  margin-top: 16px;
  margin-right: 20px;
  font-size: 1rem;
  min-width:20px;
  padding: 12px;
  border:none;
  font-weight: bold;
  color:white;
}

.rendered-main{
  position: relative;
}

.render-main-button{
    background: #800000;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /*background-color: #4f46e5;*/
    width: 240px;
    margin-left: 16px;
    border-radius: 20px;
}

.render-sub-button {
    position:relative;
    background: #5f9ea0;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /*background-color: #0ea5e9;*/
    width: 240px;
    border-radius: 20px;
}

.render-op-button {
    position:relative;
    background-color: #a9a9a9;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 200px;
    border-radius: 40px;
}

.details{
  position: relative;
  left: 40px;
}

.edit-input {
  display: block;
  margin-top: 12px;
  border:solid;
  height:32px;
  color: black;
}

.details-delete-button {
  background-color: #9F1717;
}

.details-save-button {
    background-color: #253D2C;
}

.details-save-button,
.details-delete-button{
  color: white;
  width: 80px;
  height: 40px;
  margin: 08px 01px;
  border:none;
  font-weight: 800;
  font-size: 1rem;
}

.pencil-button {
  border:none;
  transform: rotate(90deg);
}

.op-edit-button{
  display: none;
}


.hidden-date-input{
    /*visibility: hidden;*/
    height: 0px;
    padding:0px;
    margin:0px;
    border:none;
    font-size: 0px;
}